.bg{
    background-color: yellow;
    text-align: center;
}
.menu{
    display: inline;
}
.main{
    border-left: 2px solid green;
    
    position: relative;
    left: 200px;
    bottom: 150px;
    padding: 10px;
}
.contact{
    text-align: center;
    position: relative;
    bottom: 140px;
}
.multibox{
    border: 3px;
    border-color:green;
    border-style: dotted;
    position: relative;
    left: 1600px;
    bottom: 700px;
    width: fit-content;
    height: fit-content;
}
.text{
    text-align: center;
}